.header {
    background-color: darkblue;
}

#search-heading {
    font-weight: bold;
    padding-left: 20px;
}

form {
    padding-left: 20px;
}

input {
    border-radius: 10;
    margin-bottom: 20px;
    width: 100%;
}

button {
    border-color: black;
    background-color: lightgray;
    border-radius: 10;
    width: 100%;
}

.btn {
    border-radius: 10;
    width: 100%;
}

.search-button {
    border-radius: 3px;
    background-color: #83A1CD;
    border-color: #83A1CD;
    color: white;
    width: 100%;
}

.search-button:hover {
    border-color: black;
    background-color: lightgray;
}

#today {
    border-color: black;
}